h1 {
    color:brown;
  }
p  {
    background-color: #00FF00;
  }
  ul {
background-color: yellow;
color: #FF0000;
  }
  body {
    background-color: #FF0000;
  }

  a {
    color:red
  }
  a:visited {
    color:green;
  }
  a:hover {
    color:yellow;
  }
  header {
    background-color: papayawhip;
  }
  