body {
  background-color: #90E0EF;
  font-family: "Feneon Single 14";
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  padding: 24px;
  background-color: #90E0EF;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}
h1 {
  grid-column: span 12;
  background-color: #CAF0F8;
  text: #26BFDE;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 140px;
  letter-spacing:5px;
  margin: 20px;
  font-weight: bold;
  text-shadow: 5px 5px 5px #000;
}
h1 a{
  color:#26BFDE;
  text-decoration: none;
  transition: background-color 1.0s, width 2.0s, color 2.0s;
}
h1 a:hover {
  color: #03045E;
}
nav {
  grid-column-start: 2;
  grid-column-end: 12;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 50px;
}
nav ul {
  padding: 0;
  list-style: none;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-column-gap: 48px;
}
nav li a {
  display: block;
  color: #03045E;
  background-color: #00B4D8;
  width: 100%;
  padding: 14px 16px;
  margin-top: 24px;
  text-align: center;
  text-decoration: none;
  transition: background-color 1.0s, width 2.0s, color 2.0s;
}
  nav li a:hover {
background-color: #0077B6;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  color: #03045E;
}
.Welcome {
  grid-column: span 3;
  text-align: center;
}
.about {
  grid-column: span 12;
  text-align: center;
}
section img {
  width: 300px;
  height: 337px;
  object-fit: cover;
  grid-column: span 12;
}
section {
  text-align: center;
}
.lists {
  font-family: "Comic Neue", cursive;
  font-size: 30px;
  text-align: center;
  color: #03045E;
  grid-column-start: 2;
  grid-column-end: 11;
  margin-right: auto;
  list-style-type: none
}
.Me {
  text-align: center;
  grid-column: span 12;
}
h2{
  font-family: "Pixelify Sans", sans-serif;
  font-size: 64px;
  color: #03045E;
  text-align: center;
}
h3 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 64px;
  color: #03045E;
  text-align: center;
}
section p {
  font-family: "Comic Neue", cursive;
  font-size: 40px;
  color: #03045E;
}
.Gallery {
  grid-column: span 3;
}
.Gallery img {
  display: block;
  width: 300px;
  height: 337px;
  object-fit: cover;
  display: inline-block;
}
.pixelify-sans-<uniquifier {
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}
#myCarousel {
  margin-bottom: 24px;
  grid-column-start: 6;
  grid-column-end: 7;
  width: 500px;
}
#myCarousel img {
  width: 320px;
  height: 337px;
}
#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #90E0EF;
}
.pacman-loader {
  --dotssize: 0.4em;
  width: 2em;
  aspect-ratio: clamp(2, var(--size, 3), 10);
  background-image: radial-gradient(closest-side circle, var(--dots, #fff) 35%, #fff0 0);
  background-size: var(--dotssize, 0.4em) 100%;
  background-position: var(--dotssize, 0.4em) 50%;
  animation: move var(--time, 0.4s) linear infinite;
  /* the mask helps two purposes: fade in the dots on the right side, and hide them on the left side */
  mask: 
    radial-gradient(farthest-side circle, #fff 99.9%, #fff0) 0 0 / calc(2em / var(--size, 3)) 100% no-repeat,
    linear-gradient(90deg, #0000 calc(1em / var(--size, 3)), #000 0 75%, #0000 95%);
  position: relative;
  /* hide the text using text-indent and hiding overflow */
  overflow: clip;
  text-indent: 2em;
  user-select: none;
grid-column-start: 4;
  grid-column-end: 5;
  &::before, &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 50%;
    aspect-ratio: 2;
    border-radius: 50% / 100% 100% 0 0;
    background: var(--pacman, #fe5);
    transform-origin: 50% 100%;
    transform: rotate(-40deg);
    animation: mouth var(--time, 0.4s) linear infinite alternate;
  }
  
  &::after {
    bottom: 0;
    border-radius: 50% / 0 0 100% 100%;
    transform-origin: 50% 0;
    transform: rotate(40deg);
  }
}

/* reduced motion: don't animate the dots, just pacman */
@media (prefers-reduced-motion) {
  .pacman-loader {
    --time: 4s;
  }
}

/* high-contrast mode: make pacman visible with system color */
@media (prefers-contrast: more) {
  .pacman-loader {
    &::before, &::after {
      background: highlight;
    }
  }
}

@keyframes mouth {
  to { transform: rotate(0); }
}

@keyframes move {
  to { background-position: 0 0; }
}

@property --time {
  syntax: '<time>';
  inherits: true;
  initial-value: 0.4s;
}

@property --pacman {
  syntax: '<color>';
  inherits: true;
  initial-value: #fe5;
}

@property --dots {
  syntax: '<color>';
  inherits: true;
  initial-value: #fff;
}

@property --dotssize {
  syntax: '<length>';
  inherits: true;
  initial-value: 30px;
}

@property --size {
  syntax: '<integer>';
  inherits: true;
  initial-value: 3;
}
.f-carousel {
  --f-button-width: 38px;
  --f-button-height: 38px;

  --f-button-svg-width: 16px;
  --f-button-svg-height: 16px;
  --f-button-svg-stroke-width: 2.5;

  --f-button-color: #03045E(71 85 105);
  --f-button-border-radius: 50%;
  --f-button-shadow: 0 6px 12px -2px #03045E(33, 33, 41, 0.25), 0 3px 7px -3px #03045E (54, 49, 49, 0.3);

  --f-button-bg: #26BFDE;
  --f-button-hover-bg: #26BFDE;
  --f-button-active-bg: #26BFDE;
}
/* demo */
body {
  background: #90E0EF ;
  font-size: 5rem;
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
